{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
    "jest": true
  },
  "extends": [
    "prettier"
  ],
  "plugins": [
    "react",
    "prettier"
  ],
  "globals": {
    "XPathResult": true
  },
  "rules": {
    "prettier/prettier": ["error", {
      "printWidth": 100,
      "semi": false,
      "singleQuote": true,
      "trailingComma": "none",
      "bracketSpacing": false
    }]
  },
  "parserOptions": {
    "ecmaVersion": 8,
    "ecmaFeatures": {
      "jsx": true,
      "experimentalObjectRestSpread": true
    }
  }
}
